* {
margin: 0px;
padding: 0px;
}

body{
width: 95%;
max-width: 1200px;
min-width: 500px;
margin: 0px auto;
}

.site-header, .site-content{
display: block;
}

.site-header{
position: fixed;
z-index: 20;
width: 96%;
box-sizing: border-box;
padding: 1em;
text-align: center;
top: 0px;
}

.site-content{
position: absolute;
z-index: 10;
padding-top: 250px;
width: 96%;
}

#id_line, #id_date, #id_period{
width: 80%;
font-size: 20px;
}

#pageend {
position: fixed;
bottom: 5%;
left: 95%;
cursor: pointer;
-webkit-transition: all 500ms 0s ease;
transition: all 500ms 0s ease;
}

#pagetop {
position: fixed;
bottom: 70%;
left: 95%;
cursor: pointer;
-webkit-transition: all 500ms 0s ease;
transition: all 500ms 0s ease;
}
