*/3 *   * * *   root    cp -f '/mnt/nas0/生産実行システム/backup/投入実績一覧表.csv' /root/kouteikanri/data/tounyu.csv
*/3 *   * * *   root    cp -f '/mnt/nas0/生産実行システム/backup/出来高実績一覧表.csv' /root/kouteikanri/data/dekidaka.csv
*/3 *   * * *   root    /root/kouteikanri/venv/bin/python /root/csvimport.py
*/2 *   * * *   root    sh /root/yobi.sh
