*/3 *   * * *   root    cp -f 'path/to/出来高実績一覧表.csv' /root/dekidaka.csv
1-58/3 *   * * *   root    /root/kouteikanri/venv/bin/python /root/csvimport.py
2-59/3 *   * * *   root    /root/kouteikanri/venv/bin/python /root/yobi.py
