{% extends "base.html" %}
{% load mathfilters %}
{% load static %}
{% load utils %}

{% block title %}
{{ periodf }} 加工調理作業工程
{% endblock title %}

{% block content %}
<div class="row">
    <header class="site-header" style="background:honeydew;">
        <table class="table-sm" style="width: 100%">
            <tr align="center">
                <th align="center">
                    <button class="btn" onclick="window.location.reload();" id="btn_reload">
                        <i class="fas fa-sync fa-2x" style="color: #007bff;"></i>
                    </button>
                </th>
                <th align="left">
                    <a href="{% url 'chourikoutei:list_all' datef|str_to_date periodf %}"
                       class="btn btn-info" id="btn_plot" role="button">全ライン一覧へ</a>
                </th>
                <th align="center"><h3>{{ linef }}【{{ periodf }}】</h3></th>
                <th align="right"><h4>{{ datef }}製造</h4></th>
            </tr>
        </table>
        <table class="table-sm table-bordered table-secondary" style="width: 100%" align="center">
            <thead>
                <tr class="text-center" style="font-size:16px;">
                    <th width="14%">総数</th>
                    <th width="14%"><span style="color:#4169E1;">完了</span></th>
                    <th width="14%">残り</th>
                    <th width="14%">残り時間</th>
                    <th width="15%">終了予定</th>
                    <th width="15%">実際終了</th>
                    <th width="14%">進捗</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: #FFFFFF; font-size:20px;" align="center">
                    <td>{{ all_cnt }} 品</td>
                    <td><span style="color:#4169E1;">{{ comp_cnt }}</span> 品</td>
                    <td>{{ all_cnt|sub:comp_cnt }} 品</td>
                    <td>{{ left_time }} 分</td>
                    <td>{{ maxendy|date:"G:i" }}</td>
                    <td>{{ comptime|date:"G:i" }}</td>
                    <td>{% if progress == 0 %}
                        <span style="color:#4169E1;">遅れなし</span>
                        {% else %}
                        {% if progress > 0 %}
                        <span style="color:#4169E1;">{{ progress }}分進み</span>
                        {% else %}
                        <div class="text-danger" align="center">{{ progress|mul:-1 }}分遅れ</div>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <!-- ページネーション用のUI -->
        <ul class="pagination">
            <!-- 前へ の部分 -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            <!-- 数字の部分 -->
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}
            <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </header>

    <div class="site-content">
        <table class="table-sm table-striped table-bordered" align="left" style="width: 100%;">
            <thead class="table">
                <tr class="text-center">
                    {% if jissekiauto == False %}
                    <th width="6%;"></th>
                    {% endif %}
                    <th>便</th>
                    <th>区分</th>
                    <!-- th width="10%">係名</th -->
                    <th width="25%">仕掛品名</th>
                    <th>指示数</th>
                    <th>単位</th>
                    <th>1h能力/<br>出来高(分)</th>
                    <th>切替</th>
                    <th>回数</th>
                    <th>作業<br>予定</th>
                    <th>開始<br>予定</th>
                    <th>終了<br>予定</th>
                    <th>締切<br>時間</th>
                    <th>開始<br>時間</th>
                    <th>終了<br>時間</th>
                    <th>作業<br>時間</th>
                    {% if jissekiauto == False %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for koutei in object_list %}
                {% if koutei.status == 0 %}
                {% if koutei.startj %}
                <tr class="table-danger">
                {% else %}
                <tr>
                {% endif %}
                {% else %}
                <tr>
                {% endif %}
                    {% if jissekiauto == False %}
                    <td class="text-center">
                        <!-- 開始・終了ボタン -->
                        <form action="{% url 'chourikoutei:start_or_end' id=koutei.id %}" method="get" class="form_start">
                            {% if koutei.status == 1 %}
                            <!-- 終了済 -->
                            <input type="submit" class="btn btn-secondary" value="終了" disabled>
                            {% elif koutei.status == 0 %}
                            {% if koutei.endj %}
                            <!-- 通常は通らない　-->
                            <input type="submit" class="btn btn-danger" value="終了">
                            {% else %}
                            {% if koutei.startj %}
                            <!-- 通常の終了のパターン（生産中） -->
                            <input type="submit" class="btn btn-danger" id="btn_end" value="終了">
                            {% else %}
                            <!-- 通常の開始のパターン -->
                            {% if cntst == 0 %}
                            <input type="submit" class="btn btn-success" id="btn_start" value="開始">
                            {% else %}
                            <!--input type="button" class="btn btn-sm btn-success active" value="開始" data-toggle="modal" data-target="#testModal"-->
                            <input type="submit" class="btn btn-success" id="btn_start" value="開始">
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </form>
                    </td>
                    {% endif %}
                    {% if koutei.bin %}
                    {% if koutei.bin == 1 %}
                    <td class="text-right" bgcolor="khaki">
                    {% elif koutei.bin == 2 %}
                    <td class="text-right" bgcolor="hotpink">
                    {% elif koutei.bin == 3 %}
                    <td class="text-right" bgcolor="deepskyblue">
                    {% else %}
                    <td>
                    {% endif %}
                    {{ koutei.bin }}
                    {% else %}
                    <td>
                    {% endif %}
                    </td>
                    <td>{% if koutei.kubun %}{{ koutei.kubun }}{% endif %}</td>
                    <!-- td>{{ koutei.line }}</td -->
                    <td id="{{ koutei.id }}">{{ koutei.name }}</td>
                    <td class="text-right">{% if koutei.value %}{{ koutei.value }}{% endif %}</td>
                    <td class="text-right">{% if koutei.unit %}{{ koutei.unit }}{% endif %}</td>
                    <td class="text-right">
                        {% if koutei.hdeki %}
                        {{ koutei.hdeki }}
                        {% else %}
                        {% if koutei.batdeki %}
                        {{ koutei.batdeki }} ({{ koutei.battime }})
                        {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-right">{% if koutei.changey %}{{ koutei.changey }}{% endif %}</td>
                    <td class="text-right">{% if koutei.batcount %}{{ koutei.batcount }}{% endif %}</td>
                    <td class="text-right">{% if koutei.processy %}{{ koutei.processy }}{% endif %}</td>
                    <td class="text-right">{{ koutei.starty|date:"G:i" }}</td>
                    <td class="text-right">{{ koutei.endy|date:"G:i" }}</td>
                    <td class="text-right">{{ koutei.shimej|date:"G:i" }}</td>
                    <td class="text-right">{{ koutei.startj|date:"G:i" }}</td>
                    <td class="text-right">{{ koutei.endj|date:"G:i" }}</td>
                    <td class="text-right">
                        {% if koutei.endj %}
                        {% seisan_time koutei.startj koutei.endj %}
                        {% endif %}
                    </td>
                    {% if jissekiauto == False %}
                    <td class="text-center">
                        <!-- 編集ボタン -->
                        {% if koutei.startj %}
                        {% if koutei.status == 0 %}
                        <form action="{% url 'chourikoutei:start_cancel' id=koutei.id %}">
                            <input type="submit" class="btn btn-warning" value="中止">
                        </form>
                        {% else %}
                        <form action="{% url 'chourikoutei:edit' id=koutei.id %}">
                            <input type="submit" class="btn btn-primary" value="編集">
                        </form>
                        {% endif %}
                        {% else %}
                        <form action="{% url 'chourikoutei:edit' id=koutei.id %}">
                            <input type="submit" class="btn btn-primary" value="編集">
                        </form>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

