{% extends "base.html" %}
{% load mathfilters %}
{% load utils %}

{% block title %}調理工程一覧{% endblock title %}

{% block content %}
<div style="background-color:honeydew; width: 100%;">
    <br>
    <h2 align="center">調理工程一覧</h2>
    <table class="all_table" style="width: 98%;">
        <tr>
            <td>
                <button class="btn" onclick="window.location.reload();" id="btn_reload">
                    <i class="fas fa-sync fa-2x" style="color: #007bff;"></i>
                </button>
            </td>
            <td align="left">
                <a href="{% url 'chourikoutei:top' %}"
                   class="btn btn-info" id="btn_bak" role="button">製造日選択へ</a>
            </td>
            <td>
                <a href="{% url 'chourikoutei:plot' date period %}"
                   class="btn-sm btn-warning" id="btn_plot" role="button">仕掛品別に切替</a>
            </td>
            <td>
                <h3 align="right">製造日: {{ date|date_to_str }}　【{{period}}】</h3>
            </td>
        </tr>
    </table>
    <br>
</div>
<div style="width: 100%;">
    <table class="table table-striped table-bordered" style="width: 100%;">
        <thead class="table-sm" align="center">
        <tr>
            <th style="width: 8%;"><label for="period">時間帯</label></th>
            <th style="width: 15%;"><label for="line">ライン名</label></th>
            <th style="width: 8%;"><label for="all_cnt">全品</label></th>
            <!--th style="width: 8%;"><label for="end_cnt">終了</label></th-->
            <th style="width: 8%;"><label for="left_cnt">残り</label></th>
            <th style="width: 8%;"><label for="left_time">残り時間</label></th>
            <th style="width: 8%;"><label for="endy_max">終了予定</label></th>
            <th style="width: 8%;"><label for="comp_time">実際終了</label></th>
            <th style="width: 12%;"><label for="real_time">進捗</label></th>
            <th style="width: 25%;"><label for="progress">進捗率</label></th>
        </tr>
        </thead>
        <tbody>
        {% for data in object_list %}
        <tr>
            {% if data.period == '昼勤' %}
            <td bgcolor="mistyrose">
                <div id="period">{{ data.period }}</div>
            </td>
            {% else %}
            {% if data.period == '夜勤' %}
            <td bgcolor="azure">
                <div id="period">{{ data.period }}</div>
            </td>
            {% else%}
            <td>
                <div id="period">{{ data.period }}</div>
            </td>
            {% endif %}
            {% endif %}
            <td>
                <div id="line">
                    <a href="{% url 'chourikoutei:list' data.line date data.period %}">{{ data.line }}</a>
                </div>
            </td>
            <td><div id="all_cnt" align="right">{{ data.all_cnt }}品</div></td>
            <!--td><div id="end_cnt" align="right">{{ data.end_cnt }}品</div></td-->
            <td>
                {% if data.left_cnt == 0 %}
                <div style="color: royalblue;" align="center">完了</div>
                {% else %}
                <div id="left_cnt" align="right">{{ data.left_cnt }}品</div>
                {% endif %}
            </td>
            <td>
                <div id="left_time" align="right">
                    {{ data.left_time }}分
                </div>
            </td>
            <td>
                <div id="endy_max" align="right">
                    {{ data.endy_max|date:"G:i" }}
                </div>
            </td>
            <td>
                <div id="comp_time" align="right">
                    {% if data.endj_max %}
                    {% if data.left_time %}
                    {{ data.endj_max|comp_time:data.left_time|date:"G:i" }}
                    {% else %}
                    {{ data.starty_min|comp_time:data.left_time|date:"G:i" }}
                    {% endif %}
                    {% else %}
                    {% endif %}
                </div>
            </td>
            <td>
                <div id="real_time" align="center">
                    {% autoescape off %}
                    {% real_time data.endy_max data.endj_max data.left_time %}
                    {% endautoescape %}
                </div>
            </td>
            <td>
                <div id="progress" class="progress">
                    <div class="progress-bar {% if data.progress == 100 %}bg-success{% else %}progress-bar-striped progress-bar-animated{% endif %}"
                         role="progressbar"
                         style="width: {{data.progress}}%;"
                         aria-valuenow="{{ data.progress }}"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        {{ data.progress }}%
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="width: 100%;">
    <table class="table" style="width: 98%;">
        <thead style="background-color:honeydew;">
        <tr>
            <th style="width: 15%">
                <h6>計量・測定チェック</h6>
            </th>
            <th style="width: 15%">
                <!--form action="" method="post">
                    {% csrf_token %}
                    <input type="button" id="btn_upload" name="btn_upload"
                           value="更新" class="btn-sm btn-primary"
                           onclick="location.href='{% url 'chourikoutei:download' date period %}';setTimeout(function(){disabled=true},10);">
                </form-->
            </th>
            <th style="width: 15%"></th>
            <th style="width: 15%"></th>
            <th style="width: 40%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                <a href="{% url 'chourikoutei:results' date period 1 %}"
                   class="btn btn-outline-info" id="btn_results1" role="button">投入未計量</a>
            </th>
            <th>
                <a href="{% url 'chourikoutei:results' date period 2 %}"
                   class="btn btn-outline-info" id="btn_results2" role="button">出来未計量</a>
            </th>
            <th>
                <a href="{% url 'chourikoutei:results' date period 3 %}"
                   class="btn btn-outline-danger" id="btn_results3" role="button">加熱未測定</a>
            </th>
            <th>
                <a href="{% url 'chourikoutei:results' date period 4 %}"
                   class="btn btn-outline-primary" id="btn_results4" role="button">冷却未測定</a>
            </th>
        </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
