{% extends "kouteikanri/base.html" %}
{% load bootstrap %}

{% block title %}工程の追加{% endblock title %}

{% block content %}
<div class="container">
    <table class="table-sm">
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" role="button">戻る</a>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <hr>
    <form action="./?next={{ request.META.HTTP_REFERER }}"
          method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">更新</button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
