{% extends "kouteikanri/base.html" %}
{% load mathfilters %}
{% load utils %}

{% block title %}
{{ linef }} {{ periodf }}
{% endblock title %}

{% block content %}
<header class="site-header">
    <table class="table-sm table-warning" style="width: 100%">
        <tr align="left">
            <th>
                <form action="{% url 'kouteikanri:all' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="date" value="{{ datef|str_to_date }}" hidden>
                    <input type="submit" value="全ライン一覧へ" class="btn btn-primary">
                </form>
            </th>
            <th><h5>{{ linef }}</h5></th>
            <th><h5>{{ periodf }}</h5></th>
            <th><h5 align="right">{{ datef }}製造</h5></th>
            <th>
                <form action="{% url 'kouteikanri:reset_all' linef datef periodf %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="line" value="{{ linef }}" hidden>
                    <input type="text" name="date" value="{{ datef|str_to_date }}" hidden>
                    <input type="text" name="period" value="{{ periodf }}" hidden>
                    <!-- リセットボタン hidden を削除すれば表示されます -->
                    <input type="submit" value="リセット" class="btn-sm btn-danger" hidden>
                    <!-- リセットボタン ここまで -->
                </form>
            </th>
        </tr>
    </table>
    <table class="table-sm table-bordered table-secondary" align="center">
        <thead>
            <tr class="text-center" style="font-size:16px;">
                <th width="14%">生産高</th>
                <th width="14%">能率</th>
                <th width="18%"><span style="color:#4169E1;">終了</span> / 総数</th>
                <th width="10%">終了予定</th>
                <th width="8%">切替平均</th>
                <th width="10%">実際終了</th>
                <th width="16%">進捗</th>
                <th width="10%" style="font-size: 14px">生産中を<br>キャンセル</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: #FFFFFF; font-size:20px;" align="center">
                <td>{{ sdstr }}</td>
                <td>{{ nouritsu }}</td>
                <td>
                    {% if valend.value__sum %}
                        <span style="color:#4169E1;"> {{ valend.value__sum }} </span>
                    {% else %}0{% endif %} /
                    {% if valsum.value__sum %}{{ valsum.value__sum }}
                    {% else %}0{% endif %}
                </td>
                <td>{{ maxendy|date:"G:i" }}</td>
                <td>
                    {% if chavg.changej__avg %}
                        {{ chavg.changej__avg|floatformat:1 }}
                    {% else %}0{% endif %}
                </td>
                <td>{{ comptime|date:"G:i" }}</td>
                <td>
                    {% if progress == 0 %}
                        <span style="color:#4169E1;">遅れなし</span>
                    {% else %}
                        {% if progress > 0 %}
                            <span style="color:#4169E1;">{{ progress }}分進み</span>
                        {% else %}
                            <div class="text-danger" align="center">{{ progress|mul:-1 }}分遅れ</div>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <form action="{% url 'kouteikanri:start_cancel' linef datef periodf %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="line" value="{{ linef }}" hidden>
                        <input type="text" name="date" value="{{ datef }}" hidden>
                        <input type="text" name="period" value="{{ periodf }}" hidden>
                        {% if cntst == 0 %}
                            <input type="submit" value="キャンセル" class="btn-sm btn-secondary" disabled>
                        {% else %}
                            <input type="submit" value="キャンセル" class="btn-sm btn-warning" id="btn_cancel">
                        {% endif %}
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</header>

<div class="site-content">
    <table class="table-sm table-striped table-bordered" align="left" style="width: 100%;">
        <thead class="table">
            <tr class="text-center">
                <th width="8%;"></th>
                <th>便</th>
                <th>区分</th>
                <th>製品名</th>
                <th>数量</th>
                <!--<th>開始予定</th>-->
                <th>能力1h</th>
                <th>終了予定</th>
                <th>生産予定</th>
                <th>開始時間</th>
                <th>終了時間</th>
                <th>生産時間</th>
                <th>差</th>
                <th>生産能力</th>
                <th>切替時間</th>
                <th width="8%;"></th>
            </tr>
        </thead>
        <tbody>
            {% for koutei in kouteis %}
            {% if koutei.status == 0 %}
                {% if koutei.startj %}
                    <tr class="table-danger">
                {% else %}
                    <tr>
                {% endif %}
            {% else %}
                <tr>
            {% endif %}
                    <td class="text-center">
                        <!-- 開始・終了ボタン -->
                        <form action="{% url 'kouteikanri:start_or_end' id=koutei.id %}" method="get" class="form_start">
                            {% if koutei.status == 1 %}
                                <!-- 終了済 -->
                                <input type="submit" class="btn btn-secondary" value="終了" disabled>
                            {% elif koutei.status == 0 %}
                                {% if koutei.endj %}
                                    <!-- 通常は通らない　-->
                                    <input type="submit" class="btn btn-danger" value="終了">
                                {% else %}
                                    {% if koutei.startj %}
                                        <!-- 通常の終了のパターン（生産中） -->
                                        <input type="submit" class="btn btn-danger" id="btn_end" value="終了">
                                    {% else %}
                                        <!-- 通常の開始のパターン -->
                                        {% if cntst == 0 %}
                                            <input type="submit" class="btn btn-success" id="btn_start" value="開始">
                                        {% else %}
                                            <input type="button" class="btn btn-success active" value="開始" data-toggle="modal" data-target="#testModal">
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </form>
                    </td>
                    {% if koutei.bin %}
                        {% if koutei.bin == 1 %}
                            <td class="text-right" bgcolor="khaki">
                        {% elif koutei.bin == 2 %}
                            <td class="text-right" bgcolor="hotpink">
                        {% elif koutei.bin == 3 %}
                            <td class="text-right" bgcolor="deepskyblue">
                        {% else %}
                            <td>
                        {% endif %}
                        {{ koutei.bin }}
                    {% else %}
                        <td>
                    {% endif %}
                    </td>
                    <td>{% if koutei.kubun %}{{koutei.kubun }}{% endif %}</td>
                    <td id="{{ koutei.id }}">{{ koutei.name }}</td>
                    <td class="text-right">{% if koutei.value %}{{ koutei.value }}{% endif %}</td>
                    <td class="text-right">{% if koutei.seisanh %}{{ koutei.seisanh }}/h{% endif %}</td>
                    <!--<td class="text-right">{{ koutei.starty|date:"G:i" }}</td>-->
                    <td class="text-right">{{ koutei.endy|date:"G:i" }}</td>
                    <td class="text-right">{{ koutei.processy }}</td>
                    <td class="text-right">{{ koutei.startj|date:"G:i" }}</td>
                    <td class="text-right">{{ koutei.endj|date:"G:i" }}</td>
                    <td class="text-right">
                        {% if koutei.endj|seisantime:koutei.startj %}
                            {{ koutei.endj|seisantime:koutei.startj }}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% if koutei.endj %}
                            {% if koutei.endj|seisantime:koutei.startj|sub:koutei.processy < 0 %}
                                <div class="text-primary" align="right">
                                    +{{ koutei.endj|seisantime:koutei.startj|sub:koutei.processy|mul:-1 }}
                                </div>
                            {% elif koutei.endj|seisantime:koutei.startj|sub:koutei.processy == 0 %}
                                <div class="text-primary" align="right">
                                    {{ koutei.endj|seisantime:koutei.startj|sub:koutei.processy|mul:-1 }}
                                </div>
                            {% else %}
                                <div class="text-danger" align="right">
                                    {{ koutei.endj|seisantime:koutei.startj|sub:koutei.processy|mul:-1 }}
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td align="right">
                        {% if koutei.value|get_nouryoku:koutei.processj %}
                            {{ koutei.value|get_nouryoku:koutei.processj }}
                        {% endif %}
                    </td>
                    <td class="text-right">{% if koutei.changej %}{{ koutei.changej }}{% endif %}</td>
                    <td>
                        <!-- 編集ボタン -->
                        <form action="{% url 'kouteikanri:edit' id=koutei.id %}">
                            {% if cntst == 0 %}
                                <input type="submit" class="btn btn-primary" value="編集">
                            {% else %}
                                <input type="button" class="btn btn-primary active" value="編集" data-toggle="modal" data-target="#testModal">
                            {% endif %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">確認画面</h4>
            </div>
            <div class="modal-body">
                <h4><label>生産中の製品があるため [開始] と [編集] は実行することができません。</label></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
