{% extends "kouteikanri/base.html" %}
{% load mathfilters %}
{% load utils %}

{% block title %}
{{ linef }} {{ periodf }}
{% endblock title %}

{% block content %}

<header class="site-header">
    <table class="table-sm" align="center" style="width: 100%">
        <tr>
            <th style="padding: 10px">
                <a href="{% url 'kouteikanri:top' %}" class="btn btn-primary" id="btn_bak">ライン選択に戻る</a>
            </th>
            <th style="padding: 10px"><h3 align="right">{{ linef }}</h3></th>
            <th style="padding: 10px"><h3 align="left">{{ periodf }}</h3></th>
            <th style="padding: 10px"><h3 align="right">{{ datef }}製造</h3></th>
            <th style="padding: 10px">
                <form action="{% url 'kouteikanri:reset_all' linef datef periodf %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="line" value="{{ linef }}" hidden>
                    <input type="text" name="date" value="{{ datef }}" hidden>
                    <input type="text" name="period" value="{{ periodf }}" hidden>
                    <!-- リセットボタン hidden を削除すれば表示されます -->
                    <input type="submit" value="リセット" class="btn-sm btn-danger" hidden>
                    <!-- リセットボタン ここまで -->
                </form>
            </th>
        </tr>
    </table>
    <table class="table-sm table-bordered" align="center" style="width: 98%">
        <thead>
            <tr class="text-center" style="background-color: #F3E2A9; font-size:16px">
                <th width="14%">生産高</th>
                <th width="14%">能率</th>
                <th width="18%"><span style="color:#4169E1;">終了</span> / 総数</th>
                <th width="10%">終了<br>予定</th>
                <th width="8%">切替<br>平均</th>
                <th width="10%">実際<br>終了</th>
                <th width="16%">進捗</th>
                <th width="10%" style="font-size: 14px">生産中を<br>キャンセル</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: #FFFFFF; font-size:22px" align="center">
                <td>{{ sdstr }}</td>
                <td>{{ nouritsu }}</td>
                <td>
                    {% if valend.value__sum %}
                        <span style="color:#4169E1;"> {{ valend.value__sum }} </span>
                    {% else %}0{% endif %} /
                    {% if valsum.value__sum %}{{ valsum.value__sum }}
                    {% else %}0{% endif %}
                </td>
                <td>{{ maxend|date:"G:i" }}</td>
                <td>
                    {% if chavg.change__avg %}
                        {{ chavg.change__avg|floatformat:1 }}
                    {% else %}0{% endif %}
                </td>
                <td>{{ comptime|date:"G:i" }}</td>
                <td>
                    {% if progress == 0 %}
                        <span style="color:#4169E1;">遅れなし</span>
                    {% else %}
                        {% if progress > 0 %}
                            <span style="color:#4169E1;">{{ progress }}分進み</span>
                        {% else %}
                            <div class="text-danger" align="center">{{ progress|mul:-1 }}分遅れ</div>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <form action="{% url 'kouteikanri:start_cancel' linef datef periodf %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="line" value="{{ linef }}" hidden>
                        <input type="text" name="date" value="{{ datef }}" hidden>
                        <input type="text" name="period" value="{{ periodf }}" hidden>
                        <input type="submit" value="キャンセル" class="btn btn-warning">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</header>

<div class="site-content">
    <table class="table-sm table-striped table-bordered" align="left">
        <thead class="table">
            <tr class="text-center" style="font-size:16px">
                <th width="3%">便</th>
                <th width="5%">区分</th>
                <th width="20%">製品名</th>
                <th width="6%">数量</th>
                <!--<th width="6%">開始<br>予定</th>-->
                <th width="6%">能力<br>1h</th>
                <th width="7%">終了<br>予定</th>
                <th width="6%">生産<br>予定</th>
                <th width="7%">開始<br>時間</th>
                <th width="7%">終了<br>時間</th>
                <th width="6%">生産<br>時間</th>
                <th width="6%">差</th>
                <th width="6%">切替<br>時間</th>
                <th width="15%">操作</th>
            </tr>
        <tbody>
            {% for koutei in kouteis %}
            {% if koutei.status == 0 %}
                {% if koutei.start %}
                    <tr class="table-danger">
                {% else %}
                    <tr>
                {% endif %}
            {% else %}
                <tr>
            {% endif %}
                    <td class="text-right">{% if koutei.bin %}{{ koutei.bin }}{% endif %}</td>
                    <td>{% if koutei.kubun %}{{koutei.kubun }}{% endif %}</td>
                    <td id="{{ koutei.id }}">{{ koutei.name }}</td>
                    <td class="text-right">{% if koutei.value %}{{ koutei.value }}{% endif %}</td>
                    <td class="text-right">{% if koutei.seisanh %}{{ koutei.seisanh }}{% endif %}</td>
                    <!--<td class="text-right">{{ koutei.starty|date:"G:i" }}</td>-->
                    <td class="text-right">{{ koutei.endy|date:"G:i" }}</td>
                    <td class="text-right">{{ koutei.processy }}</td>
                    <td class="text-right">{{ koutei.start|date:"G:i" }}</td>
                    <td class="text-right">{{ koutei.end|date:"G:i" }}</td>
                    <td class="text-right">{{ koutei.end|seisantime:koutei.start }}</td>
                    <td class="text-right">
                        {% if koutei.end %}
                            {% if koutei.end|seisantime:koutei.start|sub:koutei.processy < 0 %}
                                <div class="text-primary" align="right">
                                    +{{ koutei.end|seisantime:koutei.start|sub:koutei.processy|mul:-1 }}
                                </div>
                            {% elif koutei.end|seisantime:koutei.start|sub:koutei.processy == 0 %}
                                <div class="text-primary" align="right">
                                    {{ koutei.end|seisantime:koutei.start|sub:koutei.processy|mul:-1 }}
                                </div>
                            {% else %}
                                <div class="text-danger" align="right">
                                    {{ koutei.end|seisantime:koutei.start|sub:koutei.processy|mul:-1 }}
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-right">{% if koutei.change %}{{ koutei.change }}{% endif %}</td>
                    <td class="text-right">
                        <!-- 開始・終了ボタン -->
                        {% if koutei.status == 1 %}
                            <!-- 終了済 -->
                            <a href="{% url 'kouteikanri:start_or_end' id=koutei.id %}" class="btn btn-secondary">終了</a>
                        {% elif koutei.status == 0 %}
                            {% if koutei.end %}
                                <!-- 通常は通らない　-->
                                <a href="{% url 'kouteikanri:start_or_end' id=koutei.id %}" class="btn btn-danger">終了</a>
                            {% else %}
                                {% if koutei.start %}
                                    <!-- 通常の終了のパターン（生産中） -->
                                    <a href="{% url 'kouteikanri:start_or_end' id=koutei.id %}" class="btn btn-danger">終了</a>
                                {% else %}
                                    <!-- 通常の開始のパターン -->
                                    {% if cntst == 0 %}
                                        <a href="{% url 'kouteikanri:start_or_end' id=koutei.id %}" class="btn btn-success">開始</a>
                                    {% else %}
                                        <button type="button" class="btn-success btn active" data-toggle="modal" data-target="#testModal">開始</button>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <!-- 編集ボタン -->
                        {% if cntst == 0 %}
                            <a href="{% url 'kouteikanri:edit' id=koutei.id %}" class="btn btn-primary">編集</a>
                        {% else %}
                            <button type="button" class="btn-primary btn active" data-toggle="modal" data-target="#testModal">編集</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">確認画面</h4>
            </div>
            <div class="modal-body">
                <h4><label>生産中の製品があるため [開始] と [編集] は実行することができません。</label></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
