{% extends "kouteikanri/base.html" %}
{% load mathfilters %}
{% load utils %}

{% block title %}
{{ periodf }} セット状況
{% endblock title %}

{% block content %}
<div class="row">
    <header class="site-header" style="background:lavender;">
        <table class="table-sm table-primary" style="width: 100%">
            <tr align="left">
                <!--th align="center">
                    <button class="btn" onclick="window.location.reload();" id="btn_reload">
                        <i class="fas fa-sync fa-2x" style="color: #007bff;"></i>
                    </button>
                </th-->
                <th align="left">
                    <a href="{% url 'kouteikanri:top' %}"
                        class="btn btn-info" id="btn_bak" role="button">製造日選択へ</a>
                </th>
                <th><h4>【{{ periodf }}】</h4></th>
                <th align="right"><h4>{{ datef }}製造</h4></th>
            </tr>
        </table>
        <table class="table-sm table-bordered table-secondary" style="width: 100%" align="center">
            <thead>
                <tr class="text-center" style="font-size:16px;">
                    <th width="25%">総数</th>
                    <th width="25%"><span style="color:#4169E1;">完了</span></th>
                    <th width="25%">残り</th>
                    <th width="25%">進捗</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: #FFFFFF; font-size:20px;" align="center">
                    <td>{{ setcnt }} 品</td>
                    <td><span style="color:#4169E1;">{{ setend }}</span> 品</td>
                    <td>{{ setcnt|sub:setend }} 品</td>
                    <td>{{ progress }} %</td>
                </tr>
            </tbody>
        </table>
        <br>
        <!-- ページネーション用のUI -->
        <ul class="pagination">
            <!-- 前へ の部分 -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            <!-- 数字の部分 -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </header>

    <div class="site-content">
        <table class="table-sm table-striped table-bordered" align="left" style="width: 100%;">
            <thead class="table">
                <tr class="text-center">
                    <th width="12%;">セット<br>チェック</th>
                    <th>便</th>
                    <th>区分</th>
                    <th>ライン名</th>
                    <th>製品名</th>
                    <th>数量</th>
                    <th>〆切時間</th>
                    <th>完了時間</th>
                    <th>盛付終了</th>
                </tr>
            </thead>
            <tbody>
                {% for koutei in object_list %}
                <tr>
                    <td class="text-center">
                        <!-- 完了ボタン -->
                        <form action="{% url 'kouteikanri:set_comp' id=koutei.id %}" method="get" class="form_start">
                            {% if koutei.set == 0 %}
                                <input type="submit" class="btn btn-success" id="btn_end" value="完了">
                            {% else %}
                                <input type="submit" class="btn btn-secondary" id="btn_start" value="解除">
                            {% endif %}
                        </form>
                    </td>
                    {% if koutei.bin %}
                        {% if koutei.bin == 1 %}
                            <td class="text-right" bgcolor="khaki">
                        {% elif koutei.bin == 2 %}
                            <td class="text-right" bgcolor="hotpink">
                        {% elif koutei.bin == 3 %}
                            <td class="text-right" bgcolor="deepskyblue">
                        {% else %}
                            <td>
                        {% endif %}
                        {{ koutei.bin }}
                    {% else %}
                        <td>
                    {% endif %}
                    </td>
                    <td>{% if koutei.kubun %}{{ koutei.kubun }}{% endif %}</td>
                    <td>{{ koutei.line }}</td>
                    <td id="{{ koutei.id }}">{{ koutei.name }}</td>
                    <td class="text-right">{% if koutei.value %}{{ koutei.value }}{% endif %}</td>
                    <td class="text-right">{% close_time koutei.starty %}</td>
                    <td class="text-right">{{ koutei.setj|date:"G:i" }}</td>
                    <td align="center" style="font-size:20px;">
                        {% if koutei.endj %}
                        <i class="fas fa-check" style="color:red;"></i>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
