{% extends "kouteikanri/base.html" %}

{% block title %}
盛付工程進捗状況
{% endblock title %}

{% block content %}
<br>
<button class="btn btn-primary" onclick="window.location.reload();">
    <i class="fas fa-sync"></i>
</button>
<br>
<h1 align="center">盛付工程進捗状況</h1>
<br>
<br>
<br>
<br>
<form action="{% url 'kouteikanri:all' %}" method="post">
    {% csrf_token %}
    <div class="input-group-lg mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text">製造日</label>
            {{ form1.date }}
        </div>
    </div>
    <br>
    <div align="left">
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-search" style="font-size:100%;"></i> 検索
        </button>
    </div>
</form>
<form action="{% url 'kouteikanri:set_all' %}" method="post">
    {% csrf_token %}
    <div align="right">
        <input type="date" name="date2" id="date2" hidden>
        <button type="submit" class="btn-sm btn-success">セットチェック</button>
    </div>
</form>

{% endblock content %}
