{% extends "kouteikanri/base.html" %}

{% block title %}
盛付工程表アップロード
{% endblock title %}

{% block content %}
<br>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <form action="" method="POST" enctype="multipart/form-data">
            <br>
            <br>
            <h2 align="center">盛付工程表アップロード</h2>
            <br>
            <br>
            {% csrf_token %}
            <p>
                <input type="file" accept=".xlsx" name="excel" value="" required
                      onclick="document.getElementById('btn_upload').removeAttribute('disabled');">
            </p>
            <p>
                <input type="submit" id="btn_upload" name="btn_upload" value="実行" class="btn btn-primary"
                      onclick="setTimeout(function(){disabled=true},10);">
            </p>
        </form>
        {% if value %}
        <p>{{ value }}</p>
        {% endif %}
        {% for message in messages %}
            <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
        <br>
        <div align="right">
            <a href="{% url 'kouteikanri:top' %}"
               class="btn btn-info" id="btn_bak" role="button">戻る</a>
            <!-- input type="button" class="btn btn-danger"
                   onclick="window.open('about:blank', '_self').close();" value="システム終了" -->
        </div>
    </div>
</div>
{% endblock %}
